 
# create a file name it as .env.development for gatsby develop 
# create a file name it as .env.production for gatsby build
# copy & paste below content to the newly created env file.

API_KEY= stack_api_key
DELIVERY_TOKEN= delivery_token
ENVIRONMENT= publishing_env
# optional CDN url for EU region example : https://eu-cdn.contentstack.com/v3
# uncomment & add the EU region url CDN cannot be empty
# CDN =
#hosted site url example: https://contentstack-gatsby-starter-app.vercel.app/
HOSTED_URL =