 
# create a file name it as .env.development for gatsby develop 
# create a file name it as .env.production for gatsby build
# copy & paste below content to the newly created env file.

CONTENTSTACK_API_KEY= YOUR_API_KEY
CONTENTSTACK_DELIVERY_TOKEN= YOUR_DELIVERY_TOKEN
CONTENTSTACK_ENVIRONMENT= YOUR_PUBLISHING_ENVIRONMENT
# optional CDN url for EU region example : https://eu-cdn.contentstack.com/v3
# uncomment & add the EU region url CONTENTSTACK_CDN cannot be empty
# CONTENTSTACK_CDN =

#hosted site url example: https://contentstack-gatsby-starter-app.vercel.app/
#CONTENTSTACK_HOSTED_URL =

# For live preview 
CONTENTSTACK_MANAGEMENT_TOKEN=YOUR_MANAGEMENT_TOKEN 
CONTENTSTACK_API_HOST=API_HOST_URL #eg- api.contentstack.io
CONTENTSTACK_APP_HOST=STACK_HOST_URL #eg- app.contentstack.com

CONTENTSTACK_LIVE_PREVIEW=BOOLEAN_VALUE #Enable Live Preview

# For enabling live editing tags for this project set CONTENTSTACK_LIVE_PREVIEW=true by default it is set to false
# For EU region add CONTENTSTACK_APP_HOST=eu-app.contentstack.com
# For setting region add  CONTENTSTACK_REGION=(Optional for US region) Eg- eu
# For setting custom host add CONTENTSTACK_API_HOST=for(NA: api.contentstack.io, EU: eu-api.contentstack.com)